@keyframes pageLoadAnimation {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

body {
    background-image: linear-gradient(to right, #DECBA4, #3E5151);
}

.page-load {
    animation: pageLoadAnimation 1s ease-in-out;
}

@keyframes buttonClickAnimation {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.button-click {
    animation: buttonClickAnimation 0.3s ease-in-out;
}